#banner
	.banner_content
		%h1 yesNote
		%p Your online notebook. Never forget an idea again.
		%button= link_to "Sign Up", new_user_registration_path
#testimonial
	.wrapper
		%p.quote "Ratul Basak"
		%p.name - IIT, Jahangirnagar University
#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Notes
				%p Google is an American multinational technology company specializing in Internet-related services and products that include online advertising technologies, search, cloud computing, software, and hardware. Most of its profits are derived from AdWords, an online advertising service that places advertising near the list of search results.

			.callout
				%h2 Notes
				%p Google is an American multinational technology company specializing in Internet-related services and products that include online advertising technologies, search, cloud computing, software, and hardware. Most of its profits are derived from AdWords, an online advertising service that places advertising near the list of search results.

			.callout
				%h2 Notes
				%p Google is an American multinational technology company specializing in Internet-related services and products that include online advertising technologies, search, cloud computing, software, and hardware. Most of its profits are derived from AdWords, an online advertising service that places advertising near the list of search results.
#bottom_cta
	.wrapper
		%h2 ! IIT !
		%p I want you to sign up... If you don’t. I will find you!
		%button= link_to "Click Meee!!!", new_user_registration_path

%footer
	%p &copy; R. Basak